body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #7f93cf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(243, 217, 217);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #a9a7a7;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #021644;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
}